/* .imagen{
	margin-right: 5px;
	line-height: 20px;
        position: absolute;
        left: 6px;
        top: 4px;
} */

/* Clases que empiezan por 'Boton-' */
[class^='Boton-'] {
    border              : 1px solid #9EAFC4;                      /* 2 pixeles de borde negro                                                */
    text-align          : center;                              /* Texto centrado      Alineado a la derecha                                                    */
    text-decoration     : none;                                /* Sin decoraciones para el texto (por defecto viene con underline)        */
    padding             : 3px;                                /* Un poco de padding para que se vea bien el botón                        */
    /* La transición en el click (:active) tiene que ser rápida 150ms (transform y color), la transición para cambiar de foco en 150ms    */
    transition          : transform 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;   
    font-family         : Karla, sans-serif;                   /* Fuente de google                                                        */
    font-size           : 0.8rem;                              /* Tamaño de la fuente                                                     */
    color               : #000;                                /* Color del texto en blanco                                               */
    margin              : 15px;                                /* 10 pixeles de margen para separar los botones entre si.                 */
    position            : relative;                            /* Posición relativa para que sus hijos partan desde él                    */
    overflow            : hidden;                              /* Todo lo que sobresalga del botón no se verá                             */
    cursor              : pointer;                             /* Puntero del mouse que muestre una mano                                  */
    transform           : perspective(600px) translateZ(0px) rotateZ(0deg) rotateX(0deg); /* Perspectiva, rotación y posición por defecto */
    text-shadow         : 1px 1px 1px #666;                    /* Una ligera sombra gris para el texto                                    */
    text-decoration: none;
    border-radius: 3px;   /*medidad anterior 5px*/
    /* width: 120px; */ /*Volver a poner si lo nesesito tamaño del boton*/
    height: 30px;
    font-weight: bold; /*Agregado*/
}
/* Elimino el outline del botón por una transición con la sombra */
[class^='Boton-']:focus { 
    outline    : 0px solid transparent;                        /* Elimino el outline que viene por defecto en los button */
    box-shadow : 0px 0px 4px 2px #7E9EA3,  0px 0px 2px 1px #100;  /* Creo uan sombra en gris oscuro con 2 tonalidades       */  
    text-decoration: none;
}            
/* Alejo el objeto en la perspectiva cuando el usuario presiona sobre él */
[class^='Boton-']:active {
    transform : perspective(1000px) translateZ(-50px) rotateZ(-0.0deg) rotateX(-20deg); /* Creo el efecto de hundimiento para el botón */
    color     : #030000;                                                                  /* Cambio el color del texto a gris            */
    text-decoration: none;    
    /* font-size           : 0.9rem; */
}


/* Color del borde rojo al pasar el mouse por encima del botón */
[class^='Boton-']:hover, [class^='Boton-']:active { border : 1px solid #FFFFFF; text-decoration: none; } 

/* Preparación para los pseudo elementos before y after */
[class^='Boton-']::before, [class^='Boton-']::after {
    content    : '';                   /* Contenido (requerida para inicializar el pseudo-selector)               */
    position   : absolute;             /* Posición absoluta (relativa al button)                                  */
    top        : 0px;                  /* Empezamos desde arriba del <button>                                     */
    left       : 0px;                  /* Empezamos desde la izquierda del <button>                               */
    width      : 100%;                 /* Ancho 100% del <button>                                                 */
    height     : 100%;                 /* Alto 100% del <button>                                                  */
    transition : 0.4s ease-in-out;     /* Transición para el hover de 500ms para que se vea bien (capa animación) */
}
/* Para las transiciones del fondo a color rojo en el hover, se utilizara el pseudo elemento ::before (capa animación) */
[class^='Boton-']::before {
    z-index    : -1;                   /* MUY IMPORTANTE esta capa va por debajo de la capa principal */
}
/* Para mostrar el fondo negro del botón se utilizara el pseudo elemento ::after (capa fondo) */
[class^='Boton-']::after {
    z-index          : -2;             /* MUY IMPORTANTE esta capa va por debajo de la capa animación */
    background-color : rgba(0, 51, 77,0.6);  /* Color del fondo gris oscuro             #1C3F51                    */
}